.home {
  min-height: 100vh;
}
.items {
  width: 800px;
}
.page {
  min-height: 100vh;
}

.row__search {
  min-height: 100vh;
}

.home h5 {
  font-weight: 700;
}

.search__content {
  position: absolute;
  top: 0;
  left: 430px;
}

.person__List {
  overflow-y: auto;
  height: 80px;
}

.person {
  position: sticky;
  top: 8px;
  left: 100px;
  width: 300px;
}

.person__div {
  position: sticky;
  top: 0;
}

.glass {
  background: white;

  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(2rem);
  border-radius: 0.5rem;
}

.row h5 {
  font-weight: 700;
  font-size: 25px;
  color: rgb(78, 78, 78);
}

@media only screen and (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search__content {
    position: static;
  }

  .person {
    position: static;
    display: block;
  }

  .items {
    display: block;
    width: 300px;
  }
}
