.home {
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  position: relative;
}

.row__search {
  min-height: 100vh;
}

.search_result {
  border: 1px solid #dadce0;
  border-radius: 5px;
}

.person {
  height: 130px;
  border: 1px solid #dadce0;
  border-radius: 5px;
}

.xxx {
  overflow: auto;
}

.content {
  border: 1px solid #dadce0;
  border-radius: 5px;
}

.person__div {
  position: sticky;
  top: 0;
}
